<div class="max-w-[600px] px-5 mx-auto space-y-5 py-5">
  <a class="inline-block bg-blue-600 rounded px-4 py-2 text-white" href="../"
    >Вернуться назад</a
  >
  <h1 class="font-bold text-3xl">Редактировать пользователя</h1>
  <form (ngSubmit)="saveChanges()" class="flex flex-col gap-5">
    <div>
      <img
        [src]="userData.avatar"
        class="size-[60px] rounded-full"
        [alt]="userData.first_name"
      />
    </div>
    <div class="flex flex-col">
      <label for="first-name">Имя</label>
      <input
        class="border border-gray-300 rounded px-4 py-2"
        id="first-name"
        type="text"
        [(ngModel)]="userData.first_name"
        name="lastName"
      />
    </div>
    <div class="flex flex-col">
      <label for="last-name">Фамилия</label>
      <input
        class="border border-gray-300 rounded px-4 py-2"
        id="last-name"
        type="text"
        [(ngModel)]="userData.last_name"
        name="firstName"
      />
    </div>
    <div class="flex flex-col">
      <label for="email">Почта</label>
      <input
        class="border border-gray-300 rounded px-4 py-2"
        id="email"
        type="text"
        [(ngModel)]="userData.email"
        name="email"
      />
    </div>
    <button
      class="cursor-pointer bg-blue-600 px-4 py-2 text-white rounded disabled:bg-gray-600"
      type="submit"
      [disabled]="isLoading()"
    >
      Сохранить
    </button>
  </form>
</div>
